<div class="header" role="navigation">
    <a href="/" class="header-button" onclick="setActiveButtonIndex(0)">Home</a>
    <a href="/audiobooks" class="header-button" onclick="setActiveButtonIndex(1)">Leftist Audiobooks</a>
    <a href="/shader-demo" class="header-button" onclick="setActiveButtonIndex(2)">Visual Synth</a>
    <script src="/js/header.js"></script>
</div>