<html>

<head>
    <meta charset="utf-8">
    <title>Creative Stuff I Made</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/sidebar.css" rel="stylesheet" type="text/css">
    <link href="/css/slideshow.css" rel="stylesheet" type="text/css">
    <link href="/css/synth_settings_table.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/ui/icon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
</head>

<body>