<div>
    <div class="header" role="navigation">

        <div class="container">
            <div class="row">
                <div class="col-sm" style="margin:2%">
                    <a href="/" class="btn btn-outline-dark">Home</a>
                </div>
                <div class="col-sm" style="margin:2%">
                    <a href="/audiobooks" class="btn btn-outline-dark"
                >Audiobooks</a>
                </div>
                <div class="col-sm" style="margin:2%">
                    <div class="dropdown">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Interactive Projects
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/oscillator">Oscillator</a>
                            <a class="dropdown-item" href="/planets">Planets</a>
                        </div>
                    </div>
        
                    
                </div>
                <div class="col-sm" style="margin:2%">
                    <a href="/mycology" class="btn btn-outline-dark">Mycology</a>
            
                </div>
            </div>

            
            

            
            

        </div>