<!-- The sidebar -->
<div class="sidebar">
    <a href="/" class="sidebar-button" onclick="setActiveButtonIndex(0)">Home</a>
    <a href="/audiobooks" class="sidebar-button" onclick="setActiveButtonIndex(1)">Leftist Audiobooks</a>
    <a href="/shader-demo" class="sidebar-button" onclick="setActiveButtonIndex(2)">Shader Demo</a>
    <script src="/js/sidebar.js"></script>
</div>