body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans';
    background-color: rgb(100, 10, 10);
}

.header {
    width: 100%;
    padding: 20px 10px;
    text-align: center;
    background: rgb(224, 118, 128);
    color: white;
    font-size: 30px;
}

.header a {
    border: 2px solid black;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 0.2vw;
}

.header a.active {
    background-color: rgb(142, 59, 70);
    color: white;
}

/* Links on mouse-over */

.header a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.header a[select] {
    color: red;
}

h1 {
    color: rgb(20, 0, 7);
}

h2 {
    color: rgb(30, 0, 0);
}

h3 {
    color: rgb(50, 0, 2);
}

.right-panel {
    position: absolute;
    /*SHOULD BE THE SAME AS SIDEBAR WIDTH*/
    right: 0%;
    left: 20%;
}

.content-container {
    background-color: rgb(71, 71, 71);
    text-align: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    right: 0%;
    left: 0%;
    position: absolute;
}

.content-container h1 {
    color: rgb(255, 255, 255);
}

.content-container h2 {
    color: rgb(255, 255, 255);
}

.content-container h3 {
    color: rgb(255, 255, 255);
}

.project-container {
    border-style: solid;
    border-color: black;
    margin-right: 10%;
    margin-left: 10%;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);
    padding: 20px;
    display: inline-block;
}

.project-child {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    height: auto;
    align-items: center;
    padding: 2%;
}

.download-link {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    text-decoration: none;
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-block;
}

video {
    width: 100%;
    height: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 156, 227);
    color: black;
    text-align: center;
}

.disable-caret {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.audioBook-container {}

.select-audiobook {
    border-style: solid;
    border-color: rgb(167, 0, 0);
    width: 75%;
    margin-bottom: 2%;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(185, 185, 185);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    display: inline-block;
    text-align: left;
    text-decoration: none;
}

.select-audiobook:hover {
    border-color: rgb(116, 0, 0);
}

.chapter-list-container {
    background-color: rgb(199, 95, 95);
    padding: 5%;
    text-align: left;
}

.chapter-list-container h1 {
    color: rgb(0, 0, 0);
}

.chapter-list-container h2 {
    color: rgb(0, 0, 0);
}

.chapter-list-container h3 {
    color: rgb(0, 0, 0);
}

.chapter-container {
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    display: inline-block;
    padding: 3%;
    width: 90%;
    position: relative;
    align-self: center;
}

.back-button {
    width: 5vw;
    height: auto;
    left: 3vw;
    top: 3vh;
    position: absolute;
    display: inline-block;
}

.synth-container {
    position: relative;
}

.webgl {
    align-self: center;
    width: 100vw;
    height: 100vh;
    margin: none;
}