<%- include ("../partials/head"); %>
    <div class="view-container">
    <%- include ("../partials/sidebar"); %>

        <div class="right-panel">

            <%- include ("../partials/header"); %>

                <div class="content-container">
                    hELLO THIS IS CONTENT.
                </div>
        </div>
        </div>

        <%- include ("../partials/footer"); %>