<%- include ("../partials/head"); %>



    <%- include ("../partials/header"); %>

        <div class='content-container'>
            <button type="button" class="btn btn-dark" id= "render_mushrooms_btn">Show the mushrooms</button>
            <div id="mushroom_list_box">
                
            </div>
            <script type="text/javascript"  src="mycological_characteristics.json"></script>
            <script type="module"           src="/js/mycology.js"></script>
        </div>



        <%- include ("../partials/footer"); %>