<%- include ("../partials/head"); %>



    <%- include ("../partials/header"); %>

        <div class='content-container'>
            <div class="synth-container">

                <canvas class="webgl" id="webgl"></canvas>

                <script src="/js/webgl/three.js"></script>
                <!--a helper for mouse input in three.js-->
                <script src="/js/webgl/planets.js"></script>
            </div>



        </div>



        <%- include ("../partials/footer"); %>