<%- include ("../partials/head"); %>



    <%- include ("../partials/header"); %>

        <div class='content-container'>
            <h1>Visual Synth</h1>
            <h2>This is a digital synth I built that functions in the pixel domain.</h2>
            <div class="synth-container">
                <canvas class="webgl" id="webgl"></canvas>
                <div class="synth-table">
                    <button onclick="fullScreen()" class="fullscreen-button">Fullscreen</button>
                    <h1>LFO</h1>

                    <h3>Frequency</h3>
                    <input type="range" min="-5" max="15" step="0.01" value="0" class="slider" id="freq-slider"
                        oninput="onFreqSliderChange(this.value)">
                    <h3>Sharpness</h3>
                    <input type="range" min="0" max="1" step="0.01" value="0" class="slider" id="freq-slider"
                        oninput="onSharpnessSliderChange(this.value)">
                    <h3>Speed</h3>
                    <input type="range" min="-30" max="30" step="0.01" value="1" class="slider"
                        oninput="onSpeedSliderChange(this.value)">
                    <h3>Origin X</h3>
                    <input type="range" min="-1" max="1" step="0.01" value="0" class="slider"
                        oninput="onOriginXSliderChange(this.value)">
                    <h3>Origin Y</h3>
                    <input type="range" min="-1" max="1" step="0.01" value="0" class="slider"
                        oninput="onOriginYSliderChange(this.value)">
                    <h3> Colour A</h3>
                    <div class="color-a-sample">&#8203; </div>
                    <h4>R</h4>
                    <input type="range" min="0" max="255" step="1" value="0" class="slider"
                        oninput="onColorARedSliderChange(this)">
                    <h4>G</h4>
                    <input type="range" min="0" max="255" step="1" value="0" class="slider"
                        oninput="onColorAGreenSliderChange(this)">
                    <h4>B</h4>
                    <input type="range" min="0" max="255" step="1" value="0" class="slider"
                        oninput="onColorABlueSliderChange(this)">
                    <h3> Colour B</h3>
                    <div class="color-b-sample">&#8203; </div>
                    <h4>R</h4>
                    <input type="range" min="0" max="255" step="1" value="255" class="slider" id="color-b_r-slider"
                        oninput="onColorBRedSliderChange(this)">
                    <h4>G</h4>
                    <input type="range" min="0" max="255" step="1" value="255" class="slider" id="color-b_g-slider"
                        oninput="onColorBGreenSliderChange(this)">
                    <h4>B</h4>
                    <input type="range" min="0" max="255" step="1" value="255" class="slider" id="color-b_b-slider"
                        oninput="onColorBBlueSliderChange(this)">
                    <h3>Opacity</h3>
                    <input type="range" min="0" max="1" step="0.001" value="0.5" class="slider"
                        oninput="onOpacitySliderChange(this.value)">
                    <h3>Wobble Intensity</h3>
                    <input type="range" min="0" max="0.125" step="0.001" value="0" class="slider"
                        oninput="onWIntensitySliderChange(this.value)">
                    <h3>Wobble Period</h3>
                    <input type="range" min="-10" max="10" step="0.001" value="20" class="slider"
                        oninput="onWPeriodSliderChange(this.value)">


                </div>

                <script src="/js/webgl/three.js"></script>
                <!--a helper for mouse input in three.js-->
                <script src="/js/webgl/main.js"></script>
            </div>



        </div>



        <%- include ("../partials/footer"); %>