<%- include ("../partials/head"); %>
    <div class="view-container">
        <%- include ("../partials/sidebar"); %>

            <div class="right-panel">

                <%- include ("../partials/header"); %>

                    <div class='content-container'>
                        <h1>Shader UWU</h1>
                        <canvas class="webgl" id="webgl"></canvas>
                        <script src="/js/webgl/three.js"></script>
                        <!--a helper for mouse input in three.js-->
                        <script src="/js/webgl/main.js"></script>
                    </div>>
            </div>
    </div>


    <%- include ("../partials/footer"); %>