<%- include ("../partials/head"); %>



    <%- include ("../partials/header"); %>

        <div class='content-container'>

            <h1>Visual Synth</h1>
            <h2>This is a digital synth I built that functions in the pixel domain.</h2>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    Settings
                </a>
                <button onclick="fullScreen()" class="fullscreen-button">
                    <img src="/images/ui/fullscreen.png" class="fullscreen-image">
                </button>
                <ul class="navbar-nav mr-auto synth-dropdown">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            LFO
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item">
                                Frequency
                                <input id="lfo-frequency" type="range" />
                            </a>
                            <a class="dropdown-item">
                                Sharpness
                                <input id="lfo-sharpness" type="range" />
                            </a>
                            <a class="dropdown-item">
                                Speed
                                <input id="lfo-speed" type="range" />
                            </a>
                            <a class="dropdown-item">
                                Origin X
                                <input id="lfo-origin-x" type="range" />
                            </a>
                            <a class="dropdown-item">
                                Origin Y
                                <input id="lfo-origin-y" type="range" />
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Colour
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">
                                Colour A
                                <div class="color-a-sample color-sample">&#8203; </div>
                                <a class="dropdown-item">
                                    R
                                    <input id="color-a-r" type="range" />
                                </a>
                                <a class="dropdown-item">
                                    G
                                    <input id="color-a-g" type="range" />
                                </a>
                                <a class="dropdown-item">
                                    B
                                    <input id="color-a-b" type="range" />
                                </a>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                Colour B
                                <div class="color-b-sample color-sample">&#8203; </div>
                                <a class="dropdown-item">
                                    R
                                    <input id="color-b-r" type="range" />
                                </a>
                                <a class="dropdown-item">
                                    G
                                    <input id="color-b-g" type="range" />
                                </a>
                                <a class="dropdown-item">
                                    B
                                    <input id="color-b-b" type="range" />
                                </a>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">
                                Opacity
                                <input id="opacity" type="range" />
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Wobble
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item">
                                Wobble Intensity
                                <input id="wobble-intensity" type="range" />
                            </a>
                            <a class="dropdown-item">
                                Wobble Period
                                <input id="wobble-period" type="range" />
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="synth-container">

                <canvas class="webgl" id="webgl"></canvas>
                
                <script src="/js/webgl/three.js"></script>
                <!--a helper for mouse input in three.js-->
                <script src="/js/webgl/visual_synth.js"></script>
            </div>



        </div>



        <%- include ("../partials/footer"); %>