<%- include ("../partials/sidebar"); %>

    <%- include ("../partials/header"); %>
        <div class="content">
            <h1>Shader UWU</h1>
            <canvas id="canvas"></canvas>
            <script src="/webgl/webgl-utils.js"></script>
            <script src="/webgl/main.js"></script>
        </div>



        <%- include ("../partials/footer"); %>